@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.login-Section {
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-page {
    width: 400px;
    height: 500px;
    /* background-color:peachpuff; */
    backdrop-filter: blur(30px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.heading {
    width: 80%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
}

.user-Data-Input {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-Data-Input .email-input , .userName-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 17px;
    margin: 0 0 5px 0;
}

.user-Data-Input .password-section {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    border: 1px solid black;
    border-radius: 7px;
    justify-content: space-evenly;
    background-color: rgb(172, 172, 235);

}

.user-Data-Input .password-section .password-input {
    width: 85%;
    height: 40px;
    padding: 0 10px;
    font-size: 17px;
    border: 0;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.user-Data-Input .password-section .showPassword {
    height: 100%;
    width: 15%;
    cursor: pointer;
    color: white;
    background-color: rgb(172, 172, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 13px;
    user-select: none;
}

.user-Data-Input a {
    font-weight: bold;
    color: #12372A;
    text-decoration: none;
}

.user-Data-Input .createAcc-button {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin: 15px 0;
    background-color: rgb(172, 172, 235);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.margin-section {
    width: 85%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.margin-section .margin {
    height: 1px;
    width: 40%;
    background-color: white;
} 

.margin-section span {
    margin: 0 10px;
}

.button-section {
    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.button-section .google-signUp-button {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button-section .apple-login-button {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0 5px 0;
    color: white;
    background-color: black;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.gg-logo {
    width: 17px;
    margin-right: 10px;
}

.apple-logo {
    width: 30px;
}

button {
    font-weight: bold;
}

.button-section .login-button {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: 0;
    border-bottom: 1px;
    margin: 15px 0;
    font-size: 14px;
    background-color:#1877f2;
}

i{
    color: white;
    margin-right: 8px;
    font-size: 15px;
}

